/*** FONTS ****/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300&display=swap');

/**** VARIABLES ****/
$info-phone: "only screen and (max-width: 430px)";
$info-tablet: "only screen and (min-width: 431px) and (max-width: 1025px)";
$width: 105%;
$height: 100vh;
$head-font: 'Gothic A1', serif;
$text-font: 'Source Sans Pro', sans-serif;
$moss-green: #B2D39F;

/*** CLASSES ***/
#home {
  background: {
    image: url('../images/background-img2.png');
    repeat: no-repeat;
    size: cover;
    position: 40% 40%;
  }
  font-size: 3vh;
  color: white;
  line-height: 80%;
  min-width: $width;
  min-height: $height;
}
.star {
  height:1vh;
}
.name {
  margin: 30vh 0 0 5vh;
}

h1{
  font: {
    family: $head-font;
    weight: 300;
  }
}

.title{
  line-height: 40%;
  margin: 1vh 0 0 5vh;
  font-size: 2vh;
  color: $moss-green;
}

/*** MEDIA QUERIES ***/
@media #{$info-phone} {
  #home {
    background-position: center;
  }
  .name {
    font-size: 2vh;
    margin:28vh 0 0 2vh;
  }
  .title{
    margin: 2.5vh 0 0 2.3vh;
    font-size: 2vh;
    width: 55%;
    line-height: 120%;
  }
}

@media #{$info-tablet} {
  #home{
      min-width: 130%;
      min-height:-webkit-fill-available;
      background-size: cover;
  }
  .title{
    font-size: 1.9vh;
    line-height: 120%;
  }
}
