/*** FONTS ****/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face {
  font-family: 'Gotham Light';
  src: url('GothamLight.ttf') format('truetype');
}
@font-face{
  font-family: 'Gotham Book';
  src: url('GothamBook.ttf') format('truetype');
}
@font-face{
  font-family: 'Gotham Bold';
  src: url('GothamBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham Black';
  src: url('Gotham-Black.otf') format('opentype');
}

/**** VARIABLES ****/
$info-phone: "only screen and (max-width: 430px)";
$info-tablet: "(min-width: 431px) and (max-width: 1024px)";
$width: 100%;
$height: 100vh;
$head-font: 'Gotham Light', serif;
$text-font: 'Source Sans Pro', sans-serif;
$moss-green: #B2D39F;

/*** CLASSES ***/
#home {
  background: {
    image: url('../images/background-img.png');
    repeat: no-repeat;
    size: cover;
    position: 40% 40%;
  }
  font: {
    family: $head-font;
    size: 2.5vh;
  }
  color: white;
  line-height: 80%;
  width: $width;
  min-height: $height;
}
.star {
  height:1vh;
}
.name {
  margin: 30vh 0 0 5vh;
}

.title{
  line-height: 40%;
  margin: 1vh 0 0 5vh;
  color: $moss-green;
}

/*** MEDIA QUERIES ***/
@media #{$info-phone} {
  .home {
    font-size: 1.5vh;
    background-position: center;
  }
  .name {
    margin:28vh 0 0 2vh;
  }

  .title{
    margin: 2.5vh 0 0 2.3vh;
    font-size: 2vh;
    width: 55%;
    line-height: 120%;
  }
}

@media #{$info-tablet} {
  .title{
    font-size: 1.9vh;
    line-height: 120%
  }
}
