$width: 100%;
$height: 100vh;
$text-font: 'Source Sans Pro', sans-serif;

.App{
  display: flex;
  flex-direction: column;
}

h2{
  text-align: left;
}

.nav{
  position: fixed;
  bottom: 0;
  color:black;
}

.menu{
  @extend .nav;
  bottom: 6vh;
  a{
    text-decoration: none;
    color: black;
    font: {
      family: $text-font;
      size: 3vh;
    }
    line-height: 2.3vh;
  }
  //display: none;

}
