$width: 100%;
$height: 100vh;
$text-font: 'Source Sans Pro', sans-serif;

.App{
  display: flex;
  flex-direction: column;
}

.nav{
  position: fixed;
  bottom: 0;
  color:black;
  margin:0 0 3vh 1vh;
  .top {
    width:50%;
  }
}

.menu{
  a{
    text-decoration: none;
    color: black;
    font: {
      family: $text-font;
      size: 3vh;
    }
  }
  position: fixed;
  bottom: 6vh;
  line-height: 2.3vh;
  margin-left: -5vh;
}
